/* Making the css file for external CSS */
p{
    color:blue;
    font-size: 20px;
}
h1{
    font-size: 40px;
}

/* h4{
    text-transform: uppercase;
}  For All h4 heading*/

/* For Particular segment of webpage we need to create class of CSS */
.uppercase{
    text-transform: uppercase;
}

.cursive{
    font-family: cursive;
}