div{
    height: 20px;
    width: 100px;
    position: absolute;
    top:20%;
    background-color: green;
    /* transform: rotate(100deg); */
    transform: translate(100px,20px);
    transition: height 1s ease-in 0.5s;
}

div:hover{
    height: 400px;
    width: 400px;
}

