<html>
    <title>
        <%= locals.title %>
    </title>
    <body>
        <ul>
            <% for(let i = 1;i<=10;i++){ %>
                <li>
                    <!-- for printing or we can say displaying we use <%= else normal %> -->
                    <%= i %>
                </li>
            <% } %>
        </ul>
    </body>
</html>