<html>
    <title>
        <%= locals.title %>
    </title>
    <body>
        <ol>
            <% for(let i of locals.contactlist){ %>
            <li>
                <p>
                    Name of the person is: 
                    <%= i.Name %>
                </p>
                <p>
                    Phone Number is : 
                    <%= i.PhoneNo %>
                </p>
            </li>
            <% } %>
        </ol>
    </body>
</html>